.buttonbox{
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.buttonbox:hover {
    background-color: black;
}

.buttonbox2{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.buttonbox2:hover {
    background-color: darkblue;
}

